/* Style the tab buttons */
.tablink {
    background-color: #7e45c8;
    /* background-color: #45C8AB;
    background-color: #eb6d1a; */
    color: white;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 24px;
    font-size: 17px;
    width: 10%;
    border: solid 1px greenyellow;
    margin: auto;
}

/* Change background color of buttons on hover */
.tablink:hover {
    background-color: #45c8ab;
}

/* Set default styles for tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
    border: solid 1px blueviolet;
}

/* Style each tab content individually */
#research {
    background-color: red;
}

#analyze {
    background-color: green;
}

#ideate {
    background-color: blue;
}

#wireframe {
    background-color: orange;
}
#prototyping {
    background-color: red;
}

#presentation {
    background-color: green;
}

#development {
    background-color: blue;
}

#testandretest {
    background-color: orange;
}

#abtesting {
    background-color: rgb(136, 255, 0);
}