body {
    font-family: 'Open Sans', sans-serif;
}

.tablink {
    background-color: #000000;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 12.5%;
}

.tablink:hover {
    background-color: #575757;
}

/* Style the tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}

#Research {
    background-color: #45c8ab;
}

#Analize {
    background-color: #6B459D;
}

#Ideate {
    background-color: #FD663A;
}

#Wireframe {
    background-color: #c9b826;
}

#Prototyping {
    background-color: #489d45;
}
#Presentation {
    background-color: #00f7ff;
}
#Development {
    background-color: #0077ff;
}

#ABTesting {
    background-color: #af44a1;
}