/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        .container {
            width: 100%;
            height: auto;
        }
    }
    
    /* Smartphones (landscape) ----------- */
    @media only screen and (min-width : 321px) {
        .container {
            width: 100%;
            height: auto;
        }
    }
    
    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        .container {
            width: 100%;
            height: auto;
        }
    }
    
    /* iPads (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
        .container {
            width: 95%;
            height: auto;
        }
    }
    
    /* iPads (landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
        .container {
            width: 95%;
            height: auto;
        }
    }
    
    /* iPads (portrait) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
        .container {
            width: 95%;
            height: auto;
        }
    }
    /**********
    iPad 3
    **********/
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
        .container {
            width: 90%;
            height: auto;
        }
    }
    
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
        .container {
            width: 90%;
            height: auto;
        }
    }
    /* Desktops and laptops ----------- */
    @media only screen  and (min-width : 1224px) {
        .container {
            width: 80%;
            height: auto;
        }
    }
    
    /* Large screens ----------- */
    @media only screen  and (min-width : 1824px) {
        .container {
            width: 70%;
            height: auto;
        }
    }