body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    padding: 0%;
    margin: 0%;
}

header {
    background-color: black;
}

.container {
    width: 1366px;
    margin: auto;
    /* border: solid 5px #45C8AB; */
}

.top-nav {
    height: 75px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Text configuration */
h1 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
    font-size: 48px;
    color: rgb(08, 08, 08);
    margin-top: 0px;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 40px;
    color: rgb(16, 16, 16);
    margin-top: 8px;
    margin-bottom: 8px;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: rgb(24, 24, 24);
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: rgb(32, 32, 32);
}

h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: rgb(40, 40, 40);
}

h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgb(48, 48, 48);
    margin-top: 8px;
    margin-bottom: 8px;
}

p {
    margin-top: 8px;
    margin-bottom: 8px;
}

/* Header configuration */

.profile-picture {
    width: 48px;
    height: 48px;
    padding-bottom: 13px;
    padding-top: 16px;
    padding: 16px;
}

.logo img {
    width: 150px;
    padding: 16px 24px;

}

.logo-picture {
    flex-flow: nowrap;
    display: flex;
}

.main-menu {
    background-color: black;
    width: 720px;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-left: 0px;
}

.main-menu ul {
    padding-left: 0px;
}

#menu-links {
    color: white;
    border: solid 1px rgb(255, 255, 255);
    padding: 6px 16px;
    font-size: .8em;
    background: linear-gradient(97.84deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.1) 100%);
    backdrop-filter: blur(5px);
    border-radius: 4px;
}

#menu-links:hover {
    /* background: linear-gradient(to right, #F38F6B, #45C8AB, #6B459D); */
    background: white;
    color: black;
}

.social-links {
    color: white;
    display: flex;
    flex-wrap: row nowrap;
    padding: 28px 24px;
    padding-bottom: 23px;
    padding-top: 22px;
}

.social-links img {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 0px 8px;
}

/* Botones */
.black-btn {
    background-color: black;
    color: white;
    font-weight: 600;
    border-radius: 8px;
    padding: 8px 16px;
    position: absolute;
    width: 218.9px;
    height: 48px;
    z-index: 1;
    box-shadow: 4px 4px 8px 4px #0000001a;
    border: none;
}

.black-btn:hover {
    background: #6B459D;
}

.white-btn {
    background-color: white;
    color: black;
    font-weight: 600;
    border: solid 2px black;
    border-radius: 8px;
    padding: 8px 16px;
    margin-left: 64px;
    position: absolute;
    width: 218.9px;
    height: 48px;
    left: 300px;
    z-index: 1;
    box-shadow: 4px 4px 8px 4px #0000001a;
    border: none;
}

.white-btn:hover {
    background: #45C8AB;
}

html {
    height: 100%;
}

/* The hero image */
.hero-image {
    position: absolute;
    width: 100%;
    height: 700px;
    top: 80px;
    background-image: url("/images/hero-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    background-origin: border-box;
    /* border: 3px solid #8c00ff; */
}

.hero-text {
    color: #343A40;
    font-family: Open Sans;
    position: absolute;
    top: 30%;
    left: 50%;
    width: 600px;
    height: auto;
    z-index: 0;
    /* border: 3px solid #eeff00; */
}

.hero-text h1 {
    width: 600px;
    height: 53px;
    font-weight: 900;
    z-index: 1;
    /* border: 3px solid #fa8500; */
}

.hero-text h3 {
    width: 600px;
    font-weight: 600;
    z-index: 1;
    /* border: 3px solid #ff0000; */
}

.hero-text h5 {
    width: 600px;
    z-index: 1;
    line-height: 32px;
    /* border: 3px solid #00df68; */
}

.colors-bar {
    position: absolute;
    top: 65px;
    z-index: 1;
    /* border: 3px solid #00b7ff; */
}

/* My Process Section */
.myprocess {
    height: 1750px;
}

.process-button {
    background-color: #6B459D;
    color: white;
    font-weight: 600;
    border-radius: 8px;
    padding: 8px 16px;
    position: absolute;
    width: 218.9px;
    height: 48px;
    box-shadow: 4px 4px 8px 4px #0000001a;
    border: none;
}

.process-button:hover {
    background: #ffffff;
    color: rgb(0, 0, 0);
    border: 2px solid black;
}

.process-steps {
    line-height: 24px;
    /* border: solid 5px peachpuff; */
}

.process-image img {
    width: 580px;
    height: auto;
    /* border: solid 5px cornflowerblue; */
}

.process-steps h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.process-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 24px 24px;
    grid-auto-flow: row;

    grid-template-areas:
        "L1 R1"
        "L2 R2"
        "L3 R3"
        "L4 R4"
        "L5 R5";
    width: 1440px;
    height: 1700px;
    padding-top: 750px;
    padding-left: 0px;
    justify-content: center;
    /* background-color: coral; */
    margin: auto;

}

.L1 {
    grid-area: L1;
    height: auto;
}

.R1 {
    grid-area: R1;
    height: auto;
}

.L2 {
    grid-area: L2;
    height: auto;
}

.R2 {
    grid-area: R2;
    height: auto;
}

.L3 {
    grid-area: L3;
    height: auto;
}

.R3 {
    grid-area: R3;
    height: auto;
}

.L4 {
    grid-area: L4;
    height: auto;
}

.R4 {
    grid-area: R4;
    height: auto;
}

.L5 {
    grid-area: L5;
    /* border: solid 5px black; */
    width: 100%;
    height: auto;
}

.R5 {
    grid-area: R5;
    width: 220px;
    height: auto;
    position: relative;
    left: 69%;
    /* border: solid 3px black; */
    align-self: end;
    justify-self: end;
    left: 0px;
    bottom: 64px;
}


/* My Project Section */
.myproject {
    padding-top: 48px;
    padding-bottom: 48px;
}

main h6 {
    color: white;
    margin-top: 8px;
    margin-bottom: 8px;
}

main h2 {
    margin-top: 8px;
    margin-bottom: 8px;
}

main h4 {
    color: white;
    margin-top: 16px;
    margin-bottom: 16px;
}

/* My Work Section inside of projects. */
* {
    box-sizing: border-box;
}

/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 48px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row>.column {
    padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    display: none;
    /* Hide columns by default */
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: rgb(116, 116, 116);
    padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
}

/* Add a grey background color on mouse-over */
.btn:hover {
    background-color: #ddd;
}

/* Add a dark background color to the active button */
.btn.active {
    background-color: #666;
    color: white;
}


/* My Skills Section */
.myskills {
    padding-top: 48px;
    padding-bottom: 48px;
    width: 1920px;
}


.skill {
    width: 1920px;
}

.skill-images {
    width: 1500px;
}



/* My About Section */
.about {
    padding-top: 48px;
    padding-bottom: 48px;
    width: 100%;
    /* border: solid 5px rgb(226, 230, 1); */
}

.about-text {
    width: 1000px;
    /* border: solid 5px rgb(0, 141, 141); */
}

.about-text h4 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.sub-about {
    /* border: solid 5px #8d00df; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.recomendations {
    display: flexbox;
    flex-flow: column;
    /* border: solid 5px rgb(0, 43, 185); */
    width: 220px;
}

.shane-btn {
    background-color: black;
    color: white;
    font-weight: 600;
    border-radius: 8px;
    padding: 8px 16px;
    width: 218.9px;
    height: 48px;
    box-shadow: 4px 4px 8px 4px #0000001a;
    border: none;
    margin-bottom: 24px;
}

.shane-btn:hover {
    background: #6B459D;
}

.kyle-btn {
    background-color: white;
    color: black;
    font-weight: 600;
    border: solid 2px black;
    border-radius: 8px;
    padding: 8px 16px;
    margin: auto;
    position: relative;
    width: 218.9px;
    height: 48px;
    box-shadow: 4px 4px 8px 4px #0000001a;
    border: none;
    margin-bottom: 24px;
}

.kyle-btn:hover {
    background: #45C8AB;
}

/* My footer Section */
.main-footer {
    padding-top: 48px;
    padding-bottom: 8px;
    width: 800px;
    text-align: center;
    margin: auto;
}

.footer-h1 {
    margin-bottom: 8px;
    margin-top: 8px;
}

main,
footer {
    background: #343A40;
    color: white;
}

footer h6 {
    color: white;
}

.footer-buttons {
    margin: auto;
    width: 600px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.footerblack-btn {
    background-color: black;
    color: white;
    font-weight: 600;
    border-radius: 8px;
    padding: 8px 16px;
    position: relative;
    width: 218.9px;
    height: 48px;
    right: 46px;
    box-shadow: 4px 4px 8px 4px #0000001a;
    border: none;
}

.footerblack-btn:hover {
    background: #6B459D;
}

.footerwhite-btn {
    background-color: white;
    color: black;
    font-weight: 600;
    border: solid 2px black;
    border-radius: 8px;
    padding: 8px 16px;
    margin-left: 64px;
    position: relative;
    width: 218.9px;
    height: 48px;
    left: 48px;
    box-shadow: 4px 4px 8px 4px #0000001a;
    border: none;
}

.footerwhite-btn:hover {
    background: #45C8AB;
}

.footer-links {
    width: 200px;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}