/* My About Section */
.about {
    padding-top: 48px;
    padding-bottom: 48px;
    width: 100%;
    margin: auto;
    /* border: solid 5px rgb(226, 230, 1); */
}

.about-header {
    display: block;
    width: 80%;
    margin: auto;
    /* border: solid 5px #ff3030; */
}

.about-text {
    width: 78%;
    /* border: solid 1px rgb(0, 141, 141); */
}

.about-text h4 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.sub-about {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    /* border: solid 3px #c401e6; */
}

#about-image {
    border-radius: 12px;
    box-shadow: 4px 4px 8px 4px var(--clr-shadow);
    width: 218.9px; 
    height: auto;
    margin: 16px 0px;
    
}

.recomendations {
    display: flexbox;
    flex-flow: column;
    /* border: solid 5px rgb(0, 43, 185); */
    width: 220px;
    border-radius: 16px;
    background-color: var(--clr-slate250);
    padding: 16px;
}