
header {
    background-color: var(--clr-background);
    position: sticky;
    top: 0px;
    z-index: 1;
}

.top-nav {
    height: 75px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    /* border: solid 1px rgb(255, 229, 80); */
}

.logo-picture {
    display: none;
}

.social-links {
    display: none;
}

.main-menu {
    display: none;
    /* border: solid 1px coral; */
}

.main-menu ul {
    padding-left: 0px;
    /* border: solid 1px rgb(80, 255, 217); */
}

#menu-links {
    color: var(--clr-light);
    border: solid 1px transparent;
    padding: 6px 24px;
    background: var(--clr-menulinks);
    border-radius: 4px;
}

#menu-links.active {
    color: var(--clr-light);
    /* background-image: linear-gradient(115deg, #F38F6B, #45C8AB, #6B459D); */
}

#menu-links.active span {
    color: var(--clr-light);
    /* background-image: linear-gradient(115deg, #F38F6B, #45C8AB, #6B459D); */
    
}

#menu-links:hover {
    color: var(--clr-light);
    border: solid 1px var(--clr-light)
    /* background-image: linear-gradient(115deg, #F38F6B, #45C8AB, #6B459D); */
}

.header-menu-bars {
    color: var(--clr-light);
    width: var(--size-2xl);
    height: var(--size-2xl);
    display: block;
}

/* md */
@media (min-width: 768px) {
    /* Header configuration */
    #top-home {
        cursor: pointer;
    }

    .logo-picture {
        display: flex;
        position: relative;
        left: 5%;
        border: solid 1px rgb(235, 80, 255);
    }

    .profile-picture {
        width: 48px;
        height: 48px;
        padding-top: 16px;
        /* border: solid 1px coral; */
    }
    
    .logo img {
        width: 150px;
        padding: 24px 24px;
        /* border: solid 1px rgb(255, 80, 80); */
    }

    .main-menu {
        display: none;
    }
    
    .sun-icon {
        color: var(--clr-light);
        width: 30px;
        height: 30px;
        display: block;
        /* padding: 0px 8px; */
    }
    
    .social-links {
        color: var(--clr-light);
        display: flex;
        flex-wrap: row nowrap;
        padding: 28px 24px;
        padding-bottom: 23px;
        padding-top: 22px;
        align-self: flex-end;
        /* border: solid 1px coral; */
    }

    .social-icon {
        display: none;
    }
}

/* xl */
@media (min-width: 1280px) {
    .logo-picture {
        flex-flow: nowrap;
        display: flex;
        position: static;
        /* border: solid 1px rgb(235, 80, 255); */
    }

    .main-menu {
        width: 600px;
        display: inline-flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        list-style: none;
        padding-left: 0px;
        /* border: solid 1px coral; */
    }

    .header-menu-bars {
        display: none;
    }

    .social-links img {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        padding: 0px 8px;
        /* border: solid 1px rgb(179, 255, 80); */
    }
    
    .social-link img:hover {
        fill: var(--clr-dark);
    }

    .sun-icon {
        margin-right: 1em;
    }
}

/* The hero image */
.hero-image {
    position: absolute;
    width: 100%;
    height: 700px;
    top: 75px;
    background-image: url(../src/images/hero-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    /* border: 3px solid #8c00ff; */
}

.hero-text {
    color: var(--clr-dark);
    font-family: Open Sans;
    position: absolute;
    top: 30%;
    left: 10%;
    width: 300px;
    height: auto;
    z-index: 0;
    /* border: 3px solid #eeff00; */
}

/* md */
@media (min-width: 768px) {
    .hero-text {
        top: 30%;
        left: 50%;
        width: 375px;
        height: auto;
        z-index: 0;
        /* border: 3px solid #eeff00; */
    }
}

/* lg */
@media (min-width: 1024px) {
    .hero-text {
        width: 450px;
    }
}

/* xl */
@media (min-width: 1280px) {
    .hero-text {
        top: 30%;
        left: 50%;
        width: 600px;
        height: auto;
        z-index: 0;
        /* border: 3px solid #eeff00; */
    }
}

.hero-text h1 {
    width: auto;
    height: 53px;
    font-size: var(--size-3xl);
    font-weight: 900;
    
    z-index: 1;
    /* border: 3px solid #fa8500; */
}

.hero-text h3 {
    width: auto;
    font-weight: 600;
    font-size: var(--size-lg);
    z-index: 1;
    /* border: 3px solid #ff0000; */
    padding-top: 24px;
}

.hero-text h5 {
    width: auto;
    z-index: 1;
    font-size: var(--size-xs);
    /* border: 3px solid #00df68; */
}

#about-subtitle {
    color: var(--clr-dark);
}

@media (min-width: 768px) {
    .hero-text h1 {
        width: auto;
        height: 53px;
        font-weight: 900;
    }
    
    .hero-text h3 {
        width: auto;
        font-weight: 600;
        padding-top: 24px;
    }
    
    .hero-text h5 {
        width: auto;
        line-height: 32px;
    }
}

@media (min-width: 1024px) {
    .hero-text h1 {
        width: auto;
        height: 53px;
        font-weight: 900;
        font-size: var(--size-5xl);
    }
    
    .hero-text h3 {
        width: auto;
        font-weight: 600;
        padding-top: 24px;
        font-size: var(--size-2xl);
    }
    
    .hero-text h5 {
        width: auto;
        line-height: 32px;
        font-size: var(--size-xl);
    }
}

.colors-bar {
    position: absolute;
    top: 65px;
    z-index: 1;
    /* border: 3px solid #00b7ff; */
}