/* My Project Section */
.myproject {
    padding-top: 48px;
    padding-bottom: 48px;
}

main h6 {
    color: var(--clr-light);
    margin-top: 8px;
    margin-bottom: 8px;
}

main h2 {
    margin-top: 8px;
    margin-bottom: 8px;
}

main h4 {
    color: var(--clr-light);
    margin-top: 16px;
    margin-bottom: 16px;
}

/* Center website */

main {
    margin: auto;
    max-width: 100%;
    background: var(--clr-projbackground);
    color: var(--clr-light);
}

h1 {
    font-size: 3rem;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}
main h5 {
    color: var(--clr-projteal);
    font-weight: 600;
    font-size: 1.5em;
    padding: 0px;
    margin:  8px 0px;
}
/* Add padding BETWEEN each column (if you want) */
.row,
.row>.column {
    padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    display: none;
    /* Hide columns by default */
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: var(--clr-slate550);
    padding: 10px;
    box-shadow: 4px 4px 8px 4px var(--clr-shadow);
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}