/* Color Sets */
:root {
    --clr-background: #222222;
    --clr-projbackground: #333333;
    --clr-light: white;
    --clr-dark: black;
    --clr-slate200: hsl(0, 0%, 80%);
    --clr-slate250: hsl(0, 0%, 76%);
    --clr-slate400: hsl(0, 0%, 60%);
    --clr-slate500: hsl(0, 0%, 50%);
    --clr-slate550: hsl(0, 0%, 45%);
    --clr-slate600: hsl(0, 0%, 40%);
    --clr-slate800: hsl(0, 0%, 20%);
    --clr-shadow: #0000001a;

    --clr-menulinks: #3f3f3f00;

    --clr-violet: #6B459D;
    --clr-orange: peru;
    --clr-teal: #45C8AB;
    --clr-projteal: #00ffc8;

    /* Sizes */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}

* {
    margin: 0;
    line-height: calc(1em + 0.5rem);
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

.dark-mode {
    --clr-background: white;
    --clr-projbackground: white;
    --clr-light: #222222;
    --clr-dark: white;
    --clr-slate200: hsl(0, 0%, 20%);
    --clr-slate250: hsl(0, 0%, 25%);
    --clr-slate400: hsl(0, 0%, 40%);
    --clr-slate500: hsl(0, 0%, 50%);
    --clr-slate550: hsl(0, 0%, 55%);
    --clr-slate600: hsl(0, 0%, 60%);
    --clr-slate800: hsl(0, 0%, 80%);
    --clr-shadow: #0000001a;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding: 0%;
    background-color: var(--clr-light);
    color: var(--clr-dark);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover {
    transform: translateY(-3px);

}

/* Text configuration */
h1 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    color: var(--clr-dark);
    margin-top: 0px;
}

h2 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
    color: var(--clr-dark);
    margin-top: 8px;
    margin-bottom: 8px;
}

h3 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: var(--clr-dark);
}

h4 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--clr-dark);
}

h5 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    font-size: 1.125rem;
    color: var(--clr-dark);
    margin-top: 8px;
    margin-bottom: 8px;
}

h6 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: var(--clr-dark);
    margin-top: 8px;
    margin-bottom: 8px;
}

p {
    margin-top: 8px;
    margin-bottom: 8px;
}

strong {
    color: var(--clr-light);
}
